.background{
    height: 100vh;
    background-image: url('../img/NewYorkView.jpg');  /* Use a URL or local image */
    background-size: cover;  /* Cover ensures the background image takes up the full viewport */
    background-position: center;  /* Centers the background image */
    background-repeat: no-repeat;  /* Prevents repeating background images */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo{
    background-image: url('../img/logo.webp');  /* Use a URL or local image */
    background-size: cover;  /* Cover ensures the background image takes up the full viewport */
    background-position: center;  /* Centers the background image */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div{
    position: fixed;
    top: 0%;
    padding: 10px;
    z-index: 1000;
  }

  .h1{
    left: 42%;
    z-index: 1000;
    top: 0%;
  }
  .table{
    position: fixed;
    top: auto;
    padding: 10px;
    z-index: 1000;
    background-color: aliceblue;
  }

  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Limit the width of the form on large screens */
  }
  